[defaults]
callback_whitelist = profile_tasks
log_path=~/ansible.log
host_key_checking = False
roles_path = /home/ec2-user/PBL-project-19/Ansible/roles
ansible_python_interpreter=python3
python3host_key_checking = False

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o ControlPath=/tmp/ansible-ssh-%h-%p-%r -o ServerAliveInterval=60 -o ServerAliveCountMax=60 -o ForwardAgent=yes
